*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:hsl(0, 0%, 98%);
}

@import './Header/header';
@import './HomePage/main.scss';




@font-face{
    font-family: 'Nunito Sans bold';
    src: url('../fonts/NunitoSans-Black.ttf');
}
@font-face{
    font-family: 'Nunito Sans';
    src: url('../fonts/NunitoSans-Bold.ttf');
}
@font-face{
    font-family: 'Nunito Sans light';
    src: url('../fonts/NunitoSans-Light.ttf');
}
@font-face{
    font-family: 'Nunito Sans bolditalic';
    src: url('../fonts/NunitoSans-Light.ttf');
}
